@import url('./reset.css');
@import url('./global.css');
@import url('./components/gallery.css');
@import url('./components/link-button.css');
@import url('./components/navigator.css');
@import url('./components/pills.css');

.s-wrapper {
  display: flex;
  height: 100vh; /* VH = medida relativa só na parte visivel da tela */
  /* Redimensionável. Não cria barra de rolagem - Responsivity 100% */
  flex-flow: row nowrap; 
}

/*.s-wrapper video{ 
  position: fixed;
  background-size:cover;
}*/ /* OPÇÃO 2 : BACKGROUND DE VÍDEO */

.s-wrapper .s-left-column {
  width: 100px; /* FIXO */
  height: 100%; /* ACOMPANHA SIZE DA DIV */
  background-color: black;
  display: flex;
  /* CENTRALIZAR TUDO TANTO HORIZONTAL QTO VERTICAL: */
  justify-content: center;
  align-items: center;
}

.s-wrapper .s-main-content{
  /* display: flex; */
  height: 100%; /* RELATIVO */
  width: 100%; /* ACOMPANHA SIZE DA DIV */
  padding-left: 1.875rem; /* 30px */
  /* position: relative; */ /* ATIVAR QUANDO USAR A OPÇÃO 2 : VIDEO BCKGR */
}

.s-wrapper .s-main-content__top {
  height: 80vh; /* ALTURA 80% DA VIEW PORT */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* ITENS DE CIMA PARA BAIXO */
}

.s-wrapper .s-main-content__bottom{ /* GALERIA DE FOTOS */
  display: flex;
  height: 20vh; /* ALTURA 20% DA VIEW PORT */
  flex-direction: column;
  justify-content: flex-end; /* ITENS DE BAIXO PARA CIMA */
}

.s-wrapper .s-main-content .s-logo img{ /* LOGO SPIDER-MAN */
  display: flex;
  margin-top: 3.125rem; /* 50px */
  margin-left: 0;
  margin-bottom: 1.875rem; /* 30px */
}

.s-wrapper .s-main-content__top .s-description{ /* TEXTO */
  background-color: rgba(0,0,0,.7); /* 70 DE OPACITY = LEVE TRANSPARÊNCIA */
  max-width: 50%;
  padding: 1.25rem; /* 20px */
  border-radius: 0.625rem; /* 10px */ 
}

.s-wrapper .s-main-content__top .s-description .s-description__text p{
  color: white;
  line-height: 170%; /* DISTÂNCIA ENTRE LINHAS */
}

.s-wrapper .s-main-content__top .s-description .pills{
  margin-bottom: 1.25rem; /* ESPAÇO ENTRE PILLS E DESCRIPTION */
}

.s-wrapper .s-main-content .s-links{ /* BTN LINK TRAILLER */
  padding: 1.25rem; /* 20px */
  padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul{
  display: flex;
  flex-direction: row;
}

/* CALLS BACKGROUNDS  */

/* 01 - TOBEY: 2002/2004/2007 */
.s-spiderman-01-01 {
  background-image: url('../images/spiderman-tobey/movie-01/background.png');
  background-size: cover;
}

.s-spiderman-01-02 {
  background-image: url('../images/spiderman-tobey/movie-02/background.png');
  background-size: cover;
}

.s-spiderman-01-03 {
  background-image: url('../images/spiderman-tobey/movie-03/background.png');
  background-size: cover;
}

/* 02 - ANDREW: 2012/2014 */
.s-spiderman-02-01 {
  background-image: url('../images/spiderman-andrew/movie-01/background.png');
  background-size: cover;
}

.s-spiderman-02-02 {
  background-image: url('../images/spiderman-andrew/movie-02/background.png');
  background-size: cover;
}

/* 03 - TOM: 2017/2019/2021 */
.s-spiderman-03-01 {
  background-image: url('../images/spiderman-tom/movie-01/background.png');
  background-size: cover;
}

.s-spiderman-03-02 {
  background-image: url('../images/spiderman-tom/movie-02/background.png');
  background-size: cover;
}

.s-spiderman-03-03 {
  background-image: url('../images/spiderman-tom/movie-03/background.png');
  background-size: cover;
}

/* <<< MEDIA QUERIES >>> */

/* BREAK-POINT 1 */
@media only screen and (max-width: 1920px)  { /* and (max-height: 1080px) */
      .s-wrapper .s-main-content .s-logo img{ /* LOGO SPIDER-MAN */
        width: 55%;
      }
}

/* BREAK-POINT 2 */
@media only screen and (max-width: 1396px) { /* and (max-height: 822px) */
        .s-wrapper .s-main-content .s-logo img{ /* LOGO SPIDER-MAN */
        width: 50%;
        }
        .s-wrapper .s-main-content{
        width: 100%;
        }
        .s-wrapper .s-main-content__bottom .gallery {
          padding: 0.5rem; 
        }
        .s-wrapper .s-main-content__top .s-description .s-description__text p{
          line-height: 110%; /* DISTÂNCIA ENTRE LINHAS NA CX TEXTO */
        }
        .s-wrapper .s-main-content .s-links{ /* BTN LINK TRAILLER */
          padding: 0.50rem; 
        }
 }

 /* BREAK-POINT 3 */
 @media only screen and (max-width: 1346px) { /* and (max-height: 682px) */ 
        .s-wrapper .s-left-column {
        padding-left: 0.5rem; /* ESPAÇO LATERAL ESQUERDA DO ASIDE */
        }
        .s-wrapper .s-main-content__bottom { 
          height: 30vh; /* ALTURA 19% DA VIEW PORT */
        }
        .s-wrapper .s-main-content__bottom .gallery ul li a img{
          height: 70%; /* TAMANHO DA IMG DOS CARDS */
          border:solid 0.1875rem white; /* 3px */
          border-radius: 0.438rem; /* 7px */
        }
        .s-wrapper .s-main-content__bottom .gallery ul li{
          margin-left: 0;
          width: 45vh; /* DISTÂNCIA ENTRE CARDS */
        }
  } 

  /* BREAK-POINT 4 */
 @media only screen and (max-width: 1096px) { /* and (max-height: 661px) */
      .s-wrapper .s-main-content__top .s-description{ /* TEXTO */
        max-width: 65%;
        max-height: 40%;
        padding: 1rem;
        border-radius: 0.325rem;  
      }
      .s-wrapper .s-main-content .s-links{ /* BTN LINK TRAILLER */
        padding: 0.5rem; 
      }
      .s-wrapper .s-main-content__bottom .gallery ul li a img{
        height: 68%; /* TAMANHO DA IMG DOS CARDS */
      }
 }
 
/* BREAK-POINT 5 */
 @media only screen and (max-width: 1030px) { /* and (max-height: 602px) */
      
      .s-wrapper .s-main-content .s-links{ /* BTN LINK TRAILLER */
        padding: 1 rem; 
      }
      .s-wrapper .s-main-content__bottom { 
        height: 30vh; /* ALTURA DA VIEW PORT */
      }
      .s-wrapper .s-main-content__bottom .gallery ul li a img{
        height: 68%; /* TAMANHO DA IMG DOS CARDS */
      }
      .s-wrapper .s-main-content__bottom .gallery ul li{
        margin-left: 0;
        width: 50vh; /* DISTÂNCIA ENTRE CARDS */
      }
 }

 /* BREAK-POINT 6 */ /* TRABALHAR A PARTIR DAQUI.... ESSE É O TAM MAX BOM ANTES DE QUEBRAR */
 @media only screen and (max-width: 956px) { /* and (max-height: 571px) */
 } 



