@import url('./reset.css');
@import url('./global.css');
@import url('./components/navigator.css');
@import url('./components/pills.css');
@import url('./components/link-button.css');
@import url('./components/gallery.css');

.s-wrapper {
  display: flex;
  height: 100vh; /* VH = medida relativa só na parte visivel da tela */
  /* Redimensionável. Não cria barra de rolagem - Responsivity 100% */
  flex-flow: row nowrap;  
}

/*.s-wrapper video{ 
  position: fixed;
  background-size:cover;
}*/ /* OPÇÃO 2 : BACKGROUND DE VÍDEO */

.s-wrapper .s-left-column {
  width: 100px; /* FIXO */
  height: 100%; /* ACOMPANHA SIZE DA DIV */
  background-color: black;
  display: flex;
  /* CENTRALIZAR TUDO TANTO HORIZONTAL QTO VERTICAL: */
  justify-content: center;
  align-items: center;
}

.s-wrapper .s-main-content{
  height: 100%; /* RELATIVO */
  width: 100%; /* ACOMPANHA SIZE DA DIV */
  /* background-color: gray; */
  padding-left: 30px;
  /* position: relative; */ /* ATIVAR QUANDO USAR A OPÇÃO 2 : VIDEO BCKGR */
}

.s-wrapper .s-main-content__top {
  height: 80vh; /* ALTURA 80% DA VIEW PORT */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* ITENS DE CIMA PARA BAIXO */
}

.s-wrapper .s-main-content__bottom{ /* GALERIA DE FOTOS */
  height: 20vh; /* ALTURA 20% DA VIEW PORT */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* ITENS DE BAIXO PARA CIMA */
}

.s-wrapper .s-main-content .s-logo img{ /* LOGO SPIDER-MAN */
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 30px;
}

.s-wrapper .s-main-content__top .s-description{ /* TEXTO */
  background-color: rgba(0,0,0,.7); /* 70 DE OPACITY = LEVE TRANSPARÊNCIA */
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p{
  color: white;
  line-height: 170%; /* DISTÂNCIA ENTRE LINHAS */
}

.s-wrapper .s-main-content__top .s-description .pills{
  margin-bottom: 20px; /* ESPAÇO ENTRE PILLS E DESCRIPTION */
}

.s-wrapper .s-main-content .s-links{ /* BTN LINK TRAILLER */
  padding: 20px;
  padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul{
  display: flex;
  flex-direction: row;
}

/* CHAMADAS DOS BACKGROUNDS  */
.s-spiderman-01-01 {
  background-image: url('../images/spiderman-tobey/movie-01/background.png');
  background-size:cover;
}

.s-spiderman-01-02 {
  background-image: url('../images/spiderman-tobey/movie-02/background.png');
  background-size: cover;
}

.s-spiderman-01-03 {
  background-image: url('../images/spiderman-tobey/movie-03/background.png');
  background-size: cover;
}



