.gallery {
  padding: 1.25rem; /* 20px */
  padding-left: 0;
}

.gallery ul{
  display: flex;
  flex-direction: row; /* TODOS ITENS NA MESMA LINHA */
}

.gallery ul li{
  margin-left: 1.5625rem; /* 25px */
}

.gallery ul li:first-child{ /* PSEUDO CLASSE SÓ O 1º ITEM */
  margin-left: 0;
}

.gallery ul li a img{ /* BORDA DA IMAGEM */
  border:solid 0.4375rem white; /* 6px */
  border-radius: 0.9375rem; /* 15px */
}