a.link-button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

a.link-button .icon{ 
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  padding: 0.188rem; /* 3px */
  background-color: var(--primary-color);
  border: solid 0.063rem white; /* 1px */
  background-clip: content-box;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.link-button .icon .play-icon{ /* TRIANGULO - SETINHA */
  border:solid 0.438rem white; /* 7 px COLORE SOMENTE A DIREÇÃO DA SETA QUE DESEJAR */
  width:0;
  height: 0;
  border-top-color: transparent; /* APAGA AS DEMAIS DIREÇÕES Q NÃO VAI USAR */
  border-right-color: transparent; /* APAGA AS DEMAIS DIREÇÕES Q NÃO VAI USAR */
  border-bottom-color: transparent; /* APAGA AS DEMAIS DIREÇÕES Q NÃO VAI USAR */
  margin-right: -0.438rem; /* -7px */
}

a.link-button .label{
  margin-left: 0.625rem; /* 10px */
}